# ASSIGNMENT 1

In [ ]:
# Name: Megha Saxena
# Registration number: 20BIT0366
# Email: megha.saxena2020@vitstudent.ac.in
# Campus: VIT Vellore
# Phone: 9695477666

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Task 1
# Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
# Create a 4x4 NumPy array with random values
data = np.random.random((4, 4))

In [ ]:
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3','Feature 4'])

In [ ]:
# Display the DataFrame
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.411317   0.685807   0.560494   0.397321
1   0.334718   0.049897   0.432386   0.542890
2   0.093153   0.809625   0.562857   0.868501
3   0.960898   0.501382   0.329144   0.292214

In [ ]:
# Task 2
#  Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df = df.rename(columns={
    'Feature 1': 'Random value 1',
    'Feature 2': 'Random value 2',
    'Feature 3': 'Random value 3',
    'Feature 4': 'Random value 4'
})

In [ ]:
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.411317        0.685807        0.560494        0.397321
1        0.334718        0.049897        0.432386        0.542890
2        0.093153        0.809625        0.562857        0.868501
3        0.960898        0.501382        0.329144        0.292214

In [ ]:
# Task 3
# Find the descriptive statistics of the 'df' dataframe

In [ ]:
descriptive_statistics = df.describe()

In [ ]:
print(descriptive_statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.450022        0.511678        0.471220        0.525231
std          0.366580        0.332887        0.112636        0.250868
min          0.093153        0.049897        0.329144        0.292214
25%          0.274327        0.388511        0.406575        0.371044
50%          0.373018        0.593595        0.496440        0.470105
75%          0.548713        0.716762        0.561085        0.624292
max          0.960898        0.809625        0.562857        0.868501

In [ ]:
# Task 4
# Check for the null values in 'df' and find the data type of the columns

In [ ]:
null_values = df.isnull().sum()

In [ ]:
print("Null Values:")
print(null_values)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
data_types = df.dtypes

In [ ]:
print("\nData Types:")
print(data_types)

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
# Task 5
# Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]

In [ ]:
print("Columns using loc:")
print(columns_loc)

Columns using loc:
   Random value 2  Random value 3
0        0.685807        0.560494
1        0.049897        0.432386
2        0.809625        0.562857
3        0.501382        0.329144

In [ ]:
columns_iloc = df.iloc[:, [1, 2]]

In [ ]:
print("\nColumns using iloc:")
print(columns_iloc)

Columns using iloc:
   Random value 2  Random value 3
0        0.685807        0.560494
1        0.049897        0.432386
2        0.809625        0.562857
3        0.501382        0.329144